.fixPosition {
	position: fixed;
}

.changeColor {
	color: black;
}
.changeColor:hover {
	color: rgb(2 62 138);
}

.dropdownStyle {
	position: absolute;
	inset: 0px auto auto 0px;
	margin: 0px;
	transform: translate(0px, 210px);
}
