name: "Coveralls Coverage"

on:
  push:
    branches: [develop, master]

jobs:
  Coverage:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout to devlop/master branch
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: Install all package dependencies
        run: yarn

      # - name: Generate coverage report for backend
      #   run: yarn test -- --coverage

      - name: Changed to client directory and generate coverage for frontend
        run: |
          yarn
          yarn test -- --coverage --watchAll=false

      # - name: Merge the coverage reports
      #   run: |
      #     ls
      #     node tools/scripts/merge-reports.js
      #     cat ./coverage/lcov.info
      - name: Upload report to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ github.workspace }}/client/coverage/lcov.info
